<main>
  <section class="container contribute-photo">
    <div class="container-heading">Contribute Appreciation</div>
    <div class="columns items columns-3">
      <div class="item">
        <div class="heading">Gift</div>
        <img src="/assets/products/IMG_2336.JPG" class="top-photo" />
      </div>
      <div class="item">
        <div class="heading">Instructions</div>
        <p>Write a message starting with: "What I appreciate about you is..."</p>
        <div class="heading">Suggestions</div>
        <p>Focus on qualities and behavior that you admire</p>
        <p>Think about your favorite time spent with the recipient. What stood out to you about them in those moments?</p>
      </div>
      <div class="item">
        <div class="heading">Examples</div>
        <p>What I appreciate about you is your resilience. Last year was such a terrible time and you were a beacon of light every day.</p>
        <p>What I appreciate about you is your humor. I remember not to take my life too seriously whenever we're together.</p>
        <p>What I appreciate about you is your vitality. You bring energy to whatever situation you're in and I love that about you.</p>
      </div>
    </div>
    <div class="columns submit-photo columns-3">
      <div class="item">
        <a class="arrow" routerLink="/contributeMemory">
          <img src="/assets/contributephoto/CP_0022_Group-1.png" />
          <div>Previous Item</div>
        </a>
      </div>
      <div class="item">
        <textarea class="area" placeholder="100 Character Limit"></textarea>
      </div>
      <div class="item">
        <a class="arrow" routerLink="/contributeGratitude">
          <img src="/assets/contributephoto/CP_0024_Group-1.png" />
          <div>Next Item</div>
        </a>
      </div>
    </div>
    <button class="button submit">Submit</button>
    <div class="memos">
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
    </div>
    <a routerLink="/cogiviDashboard" class="button back">Back to Dashboard</a>
  </section>
</main>
