<main>
  <section class="container faq">
    <div class="container-heading">Frequently Asked Questions</div>
    <h3 class="heading">What is Cogivi?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <h3 class="heading">How to start a Cogivi?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <h3 class="heading">Can I get Cogivi outside of US?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <h3 class="heading">How many contributors can I add?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <h3 class="heading">Can I customize my Cogivi’s box?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <h3 class="heading">What is the time needed for Cogivi to ship?</h3>
    <p class="paragraph">Has te viderer scriptorem, ex pri scripserit consequuntur, ius suas case malis te. Mel in porro iisque, vel id modus tation iuvaret. Veniam lobortis assueverit eu duo. Nam melius fierent eu, no insolens adolescens definitionem qui. Et vim dicit oblique interpretaris, ex ius debitis explicari, eum ei phaedrum elaboraret. Utamur facilisis per an, mea possit malorum epicuri ut.</p>
    <a class="button" routerLink="/contact">Contact Us</a>
  </section>
</main>
