<main>
  <section class="container check-out">
    <div class="container-heading">Check Out</div>
    <div class="heading">Billing Information</div>
    <form>
      <div class="input-group">
        <label>First Name</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Last Name</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Credit Card Number</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Expiration Date</label>
        <div class="expiration">
          <input class="month" type="text" placeholder="MM" />
          <input class="year" type="text" placeholder="YYYY" />
          <input class="ccv" type="text" placeholder="CCV"/>
        </div>
      </div>
      <div class="input-group">
        <label>Address Line 1</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Address Line 2</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>City</label>
        <input type="text"/>
      </div>
    </form>
    <div class="heading">Shipping Information</div>
    <div class="subheading"><img src="/assets/checkout/CO_0004_Ellipse-903.png"/> Shipping information is the same as billing</div>
    <form>
      <div class="input-group">
        <label>First Name</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Last Name</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Address Line 1</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Address Line 2</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>City</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>State/Province</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Postal Code</label>
        <input type="text"/>
      </div>
      <div class="input-group">
        <label>Country</label>
        <input type="text"/>
      </div>
    </form>
    <a class="button" routerLink="/thankYou">Submit</a>
  </section>
</main>
