<main>
  <section class="container cogivi-start">
    <div class="container-heading">Start a Cogivi</div>
    <form>
      <label class="subheading">Who is this Cogivi for?</label>
      <div class="name">
        <input type="text" class="first_name" placeholder="First name" />
        <input type="text" class="last_name" placeholder="Last name" />
      </div>
      <label class="subheading">Upload picture of the recipient:</label>
      <input id="img" type="file"/>
      <label for="img">
        <img src="/assets/start/SAC_0002_Person-icon.png" />
      </label>
      <a routerLink="/startCogivi2" class="button">Next</a>
    </form>
  </section>
</main>
