<main>
  <section class="container contributions">
    <div class="container-heading">All Contributions</div>
    <div class="info">
      <div class="reason">On the occasion of the 33rd Birthday of</div>
      <div class="name">David Strawn</div>
      <div class="from">From the Holy Fortrefs, Baby</div>
      <div class="desc">*Separate names of contributors will be shown here</div>
    </div>
    <div class="actions">
    </div>
  </section>
  <div class="image-heading" style="background-image: url('/assets/products/IMG_2308.JPG');"><span>Memory Well</span></div>
  <section class="container contributions">
    <div class="columns columns-4">
      <div class="column">
        <div class="item buttons">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>
          <span>1/3</span>
          <a class="arrow-up"></a>
          <a class="arrow-down"></a>
        </div>
        <span class="name">Me</span>
      </div>
      <div class="column">
        <div class="item buttons">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>
          <span>1/3</span>
          <a class="arrow-up"></a>
          <a class="arrow-down"></a>
        </div>
        <span class="name">Michael Bell</span>
      </div>
      <div class="column">
        <div class="item buttons">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>
          <span>1/3</span>
          <a class="arrow-up"></a>
          <a class="arrow-down"></a>
        </div>
        <span class="name">Sarah Pale</span>
      </div>
      <div class="column">
        <div class="item buttons">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>
          <span>1/3</span>
          <a class="arrow-up"></a>
          <a class="arrow-down"></a>
        </div>
        <span class="name">Cindy Roberts</span>
      </div>
    </div>
  </section>
  <div class="image-heading" style="background-image: url('/assets/products/IMG_2337.JPG');"><span>Mirror Message</span></div>
  <section class="container contributions">
    <div class="columns columns-4">
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>
        </div>
        <span class="name">Me</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Michael Bell</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Sarah Pale</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Cindy Roberts</span>
      </div>
    </div>
  </section>
  <div class="image-heading" style="background-image: url('/assets/products/IMG_2322.JPG');"><span>Message in a Bottle</span></div>
  <section class="container contributions">
    <div class="columns columns-4">
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Me</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Michael Bell</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Sarah Pale</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Cindy Roberts</span>
      </div>
    </div>
  </section>
  <div class="image-heading" style="background-image: url('/assets/products/IMG_2345.JPG');"><span>Photo Tile</span></div>
  <section class="container contributions">
    <div class="columns columns-4">
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Me</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Michael Bell</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Sarah Pale</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Cindy Roberts</span>
      </div>
    </div>
  </section>
  <div class="image-heading" style="background-image: url('/assets/products/IMG_2306.JPG');"><span>Wood Portrait</span></div>
  <section class="container contributions">
    <div class="columns columns-4">
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Me</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Michael Bell</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Sarah Pale</span>
      </div>
      <div class="column">
        <div class="item">
          <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up</p>

        </div>
        <span class="name">Cindy Roberts</span>
      </div>
    </div>
  </section>
  <a class="button contributions" routerLink="/cogiviDashboard">Dashboard</a>
</main>
