<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cogivi - landing</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CMuli" rel="stylesheet">
</head>
<body>
<header>
  <a routerLink="/home"><img alt="" src="/assets/landing/LP_0000_Cogivi-Logo.png" /></a>
  <a href="javascript:void(0);" id="dropdown-button"><img alt="" src="/assets/landing/LP_0001_Person-icon.png" /></a>
  <div id="dropdown">
    <div class="container">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/contact">Contact Us</a>
      <a routerLink="/faq">FAQ</a>
    </div>
  </div>
  <div class="triangle" id="triangle"></div>
</header>
<router-outlet></router-outlet>
<footer>
  <a class="logo"><img alt="" src="/assets/landing/LP_0000_Cogivi-Logo.png" /></a>
  <ul class="nav">
    <li><a routerLink="/account">Account</a></li>
    <li><img alt="" src="/assets/landing/LP_0010_Line.png" /></li>
    <li><a routerLink="/faq">FAQ</a></li>
    <li><img alt="" src="/assets/landing/LP_0010_Line.png" /></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <ul class="social">
    <li><a href="#"><img alt="" src="/assets/landing/LP_0003_facebook.png" /></a></li>
    <li><a href="#"><img alt="" src="/assets/landing/LP_0004_instagram.png" /></a></li>
    <li><a href="#"><img alt="" src="/assets/landing/LP_0005_twitter.png" /></a></li>
  </ul>
  <a href="http://www.skech.co/" class="skech">Designed by Skech</a>
</footer>
</body>
</html>
