<main>
  <section class="container cogivi-start-2">
    <div class="container-heading">Customize your Cogivi</div>
    <h2 class="heading">Optional organizer's letter</h2>
    <h3 class="subheading">Choose whether to include a letter in your Cogivi gift</h3>
    <div class="items">
      <div class="item">
        <div>
          <img src="/assets/start2/SAC_0026_IMG_2326.png" />
          <span class="title">Organizer's Letter</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
          <select>
            <option>Test 1</option>
            <option>Test 2</option>
            <option>Test 3</option>
          </select>
        </div>
      </div>
    </div>
    <h2 class="heading">Customizable message objects</h2>
    <h3 class="subheading">Choose a prompt for these customizable objects</h3>
    <div class="items">
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2340.JPG" />
          <span class="title">Text on Mirror</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
          <select>
            <option>Test 1</option>
            <option>Test 2</option>
            <option>Test 3</option>
          </select>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2337.JPG" />
          <span class="title">Text on Mirror</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
          <select>
            <option>Test 1</option>
            <option>Test 2</option>
            <option>Test 3</option>
          </select>
        </div>
      </div>
    </div>
    <h2 class="heading">Standard objects</h2>
    <h3 class="subheading">These objects are included in every Cogivi gift</h3>
    <div class="items">
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2341.JPG" />
          <span class="title">Contributor's portrait</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2346.JPG" />
          <span class="title">Photo tile</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2307.JPG" />
          <span class="title">Memory well</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
        </div>
      </div>
      <div class="item">
        <div>
          <img src="/assets/products/IMG_2328.JPG" />
          <span class="title">Dedication</span>
        </div>
        <div>
          <p class="description">Lorem ipsum dolor sit amet, cu vel vivendo principes voluptatibus, has in quando virtute appellantur, vim altera scripserit id.</p>
        </div>
      </div>
    </div>
    <div class="buttons">
      <a routerLink="/startCogivi" class="button back">Back</a>
      <a routerLink="/startCogivi3" class="button next">Finalize</a>
    </div>
  </section>
</main>
