<main>
  <section class="container contribute-to">
    <div class="container-heading">Contribute to Michael’s Cogivi</div>
    <div class="container-sub-heading">Please click on each section below to add your content to the gift</div>
    <div class="columns columns-4">
      <div class="item active">
        <a routerLink="/contributeMemory">
          <img src="/assets/contributeto/CTMC_0025_IMG_2307.png" />
        </a>
        <h3 class="heading">Memory Well</h3>
      </div>
      <div class="item">
        <a routerLink="/contributeApp">
          <img src="/assets/contributeto/CTMC_0022_IMG_2340.png" />
        </a>
        <h3 class="heading">Mirror Message</h3></div>
      <div class="item active">
        <a routerLink="/contributeGratitude">
          <img src="/assets/contributeto/CTMC_0018_IMG_2302.png" />
        </a>
        <h3 class="heading">Message in a Bottle</h3>
      </div>
      <div class="item active">
        <a routerLink="/contributePortrait">
          <img src="/assets/contributeto/CTMC_0014_IMG_2304.png" />
        </a>
        <h3 class="heading">Wood Portrait</h3>
      </div>
      <div class="item">
        <a routerLink="/contributePhoto">
          <img src="/assets/contributeto/CTMC_0010_IMG_2331.png" />
        </a>
        <h3 class="heading">Photo Tile</h3>
      </div>
    </div>
    <a routerLink="/cogiviDashboard" class="button go-back">Go back to My Cogivis</a>
  </section>
</main>
