<main>
  <section class="container contribute-photo">
    <div class="container-heading">Contribute Gratitude</div>
    <div class="columns items">
      <div class="item">
        <div class="heading">Gift</div>
        <img src="/assets/products/IMG_2323.JPG" class="top-photo" />
      </div>
      <div class="item">
        <div class="heading">Instructions</div>
        <p>Write a message starting with “I’m grateful you’re in my life because...”</p>
        <div class="heading">Suggestions</div>
        <p>Focus on how their presence in your life has affected you - use “I” and “me” language.</p>
        <p>Make this message about impact on you - not necessarily about them.</p>
      </div>
      <div class="item">
        <div class="heading">Examples</div>
        <p>I’m grateful you’re in my life because you’ve helped me grow so much as a person.</p>
        <p>I’m grateful you’re in my life because I feel myself when I’m around you.</p>
        <p>I’m grateful you’re in my life because you remind me that life can be simple and beautiful if I just open myself up.</p>
      </div>
    </div>
    <div class="columns submit-photo">
      <div class="item">
        <a class="arrow" routerLink="/contributeApp">
          <img src="/assets/contributephoto/CP_0022_Group-1.png" />
          <div>Previous Item</div>
        </a>
      </div>
      <div class="item">
        <textarea class="area" placeholder="100 Character Limit"></textarea>
      </div>
      <div class="item">
        <a class="arrow" routerLink="/contributePortrait">
          <img src="/assets/contributephoto/CP_0024_Group-1.png" />
          <div>Next Item</div>
        </a>
      </div>
    </div>
    <button class="button submit">Submit</button>
    <div class="memos">
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
      <div class="saved">
        <a class="close"><img src="/assets/contributephoto/CP_0004_Delete.png" /></a>
        The day I asked you to marry me, I’ll never forget the look in your eyes and how I felt when you said yes.
      </div>
    </div>
    <a routerLink="/cogiviDashboard" class="button back">Back to Dashboard</a>>
  </section>
</main>
