<main>
  <section class="container dashboard coordinate-cogivi">
    <div class="container-heading">Coordinating Your Cogivi</div>
    <div class="container-sub-heading">Here's how it works:</div>
    <div class="columns instructions">
      <div class="instruction">
        <div class="step"><img src="/assets/start3/ellipse.png"/><span class="index">1</span></div>
        <div class="heading">Choose Contributors</div>
        <p class="description">Choose Contributors for your Recipient's Cogivi Box</p>
      </div>
      <div class="instruction">
        <div class="step"><img src="/assets/start3/ellipse.png"/><span class="index">2</span></div>
        <div class="heading">Send Invitations</div>
        <p class="description">Once you have at least 3 other Contributors, you will be able to send the invitations</p>
      </div>
      <div class="instruction">
        <div class="step"><img src="/assets/start3/ellipse.png"/><span class="index">3</span></div>
        <div class="heading">Target Date</div>
        <p class="description">We'll set a target of 7 days for everyone to submit their contents</p>
      </div>
      <div class="instruction">
        <div class="step"><img src="/assets/start3/ellipse.png"/><span class="index">4</span></div>
        <div class="heading">Reminders &amp; Additions</div>
        <p class="description">We'll remind those who aren't done on day 4 if someone hasn't accepted by then, we'll prompt you with the option to invite another Contributor</p>
      </div>
    </div>
    <form class="invite">
      <div class="heading">Invite Contributors</div>
      <p class="description">Each Cogivi is made by 4 to 8 contributors - invite people to help below:
        <br/><br/> <b>Please invite at least 4 contributors including yourself</b></p>
      <input placeholder="First name" /> <input placeholder="Last name" />
      <input placeholder="Email address" class="full" />
      <button class="button">Add</button>
    </form>
    <div class="columns contributors">
      <div class="contributor me">
        <img class="profile" src="/assets/dashboard/person_icon.png"/>
        <div class="name">Me</div>
      </div>
      <div class="contributor">
        <a class="delete-item"></a>
        <img class="profile" src="/assets/dashboard/person_icon.png"/>
        <div class="name">Jesica Teddy</div>
      </div>
      <div class="contributor">
        <a class="delete-item"></a>
        <img class="profile" src="/assets/dashboard/person_icon.png"/>
        <div class="name">Chriss Jackson</div>
      </div>
      <div class="contributor">
        <a class="delete-item"></a>
        <img class="profile" src="/assets/dashboard/person_icon.png"/>
        <div class="name">Melinda Watson</div>
      </div>
    </div>
    <div class="buttons">
      <a routerLink="/contributeTo" class="button send">Send Invitations &amp; Start Project</a>
    </div>
  </section>
</main>
