<main>
  <section class="container keepsake">
    <div class="container-heading">My Cogivis</div>
    <div class="keepsake-heading">Organizing</div>
    <div class="keepsake-items">
      <div class="keepsake-item in-progress">
        <a routerLink="/cogiviDashboard"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">In Progress</div>
        <a class="name">David’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a class="name">Sarah’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a class="name">Michael’s Cogivi</a>
      </div>
      <div class="new-keepsake">
        <a routerLink="/startCogivi"><img src="/assets/my/MC_0003_New-Cogivi-Outline.png" /></a>
        <a class="name">New Cogivi</a>
      </div>
    </div>
    <div class="keepsake-heading">Contributing</div>
    <div class="keepsake-items">
      <div class="keepsake-item in-progress">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">In Progress</div>
        <a routerLink="#" class="name">David’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a routerLink="#" class="name">Sarah’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a routerLink="#" class="name">Michael’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a routerLink="#" class="name">Cindy’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a routerLink="#" class="name">Robert’s Cogivi</a>
      </div>
      <div class="keepsake-item completed">
        <a routerLink="#"><img src="/assets/my/MC_0010_Person-icon.png" /></a>
        <div class="progress-bar">Completed</div>
        <a routerLink="#" class="name">Layla’s Cogivi</a>
      </div>
    </div>
  </section>
</main>
