<main>
  <section class="container full-height landing-top" >
    <h2 class="create">Create</h2>
    <div class="a-gift-to-remember" id="remember-gift">A Gift to Remember</div>
    <a class="button" routerLink="/register">Start Cogivi</a>
  </section>
  <section class="container meaningful-gift">
    <h2 class="container-heading">A Meaningful Gift</h2>
    <div class="columns items columns-3">
      <div class="item">
        <img alt="" src="/assets/landing/LP_0065_Icon1.png" />
        <h3 class="heading">Collaborative</h3>
        <p class="description">A Cogivi gift is made by a group of contributors that you select. Each one submits content for the recipient like favorite memories and photographs.</p>
      </div>
      <div class="item">
        <img alt="" src="/assets/landing/LP_0068_Icon.png" />
        <h3 class="heading">Beautiful</h3>
        <p class="description">All of the contributions are infused into charming and elegant objects, which are packaged together to create a gift to last forever.</p>
      </div>
      <div class="item">
        <img alt="" src="/assets/landing/LP_0071_Icon.png" />
        <h3 class="heading">Simple</h3>
        <p class="description">As the orginizer, you’ll invite contributors to work with. We’ll track their progress, send reminders, and let you know when the gift is ready.</p>
      </div>
    </div>
    <p class="global-description">A unique and thoughtful present has been hard to find...</p>
    <span class="until-now">Until Now!</span>
  </section>
  <section class="container each-box">
    <h2 class="container-heading">Each box contains</h2>
    <p class="description">seven kinds of collaboratively customized gifts</p>
    <ul class="box-items">
      <li>
        <input type="checkbox" id="bottle" onchange="eachClicked(this)" />
        <label for="bottle"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Message in a bottle</span></label>
        <div class="box-opened">
          <div class="heading">Message in a bottle</div>
          <p class="desc">Write a message starting with:
            <br/><br/>
            I'm grateful you're in my life because...</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2317.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2319.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2321.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2316.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="textmirror" onchange="eachClicked(this)" />
        <label for="textmirror"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Text on mirror</span></label>
        <div class="box-opened">
          <div class="heading">Text on mirror</div>
          <p class="desc">Write a message starting with:
            <br />
            What I appreciate about you is...</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2340.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2343.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2346.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2348.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="portrait" onchange="eachClicked(this)" />
        <label for="portrait"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Wood etched portrait</span></label>
        <div class="box-opened">
          <div class="heading">Wood etched portrait</div>
          <p class="desc">Lorem ipsum dolor sit amet, unum meis mea ne. Quando veniam ad usu. Ocurreret referrentur ut sed, ut tamquam accusata mel. Duo ei malis harum invidunt. Vide instructior vix in, ea mea brute latine interesset. Mel ei viderer explicari percipitur, his ex postulant voluptaria voluptatibus, eos te tantas elaboraret cotidieque.
            <br/><br/>
            Ex est blandit deterruisset definitionem. Phaedrum aliquando complectitur ea cum. Et mei quaestio elaboraret, te quo officiis persecuti. Id quodsi reprimique per, at elit argumentum consectetuer nec. Malorum tincidunt id ius, in sed prima affert tempor, mei invidunt persecuti ea.</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2304.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2306.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2341.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2342.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="phototile" onchange="eachClicked(this)" />
        <label for="phototile"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Photos on tile</span></label>
        <div class="box-opened">
          <div class="heading">Photos on tile</div>
          <p class="desc">Lorem ipsum dolor sit amet, unum meis mea ne. Quando veniam ad usu. Ocurreret referrentur ut sed, ut tamquam accusata mel. Duo ei malis harum invidunt. Vide instructior vix in, ea mea brute latine interesset. Mel ei viderer explicari percipitur, his ex postulant voluptaria voluptatibus, eos te tantas elaboraret cotidieque.
            <br/><br/>
            Ex est blandit deterruisset definitionem. Phaedrum aliquando complectitur ea cum. Et mei quaestio elaboraret, te quo officiis persecuti. Id quodsi reprimique per, at elit argumentum consectetuer nec. Malorum tincidunt id ius, in sed prima affert tempor, mei invidunt persecuti ea.</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2304.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2304.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2304.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2304.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="dedication" onchange="eachClicked(this)" />
        <label for="dedication"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Dedication</span></label>
        <div class="box-opened">
          <div class="heading">Dedication</div>
          <p class="desc">Lorem ipsum dolor sit amet, unum meis mea ne. Quando veniam ad usu. Ocurreret referrentur ut sed, ut tamquam accusata mel. Duo ei malis harum invidunt. Vide instructior vix in, ea mea brute latine interesset. Mel ei viderer explicari percipitur, his ex postulant voluptaria voluptatibus, eos te tantas elaboraret cotidieque.
            <br/><br/>
            Ex est blandit deterruisset definitionem. Phaedrum aliquando complectitur ea cum. Et mei quaestio elaboraret, te quo officiis persecuti. Id quodsi reprimique per, at elit argumentum consectetuer nec. Malorum tincidunt id ius, in sed prima affert tempor, mei invidunt persecuti ea.</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2330.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2328.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2329.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2327.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="memory" onchange="eachClicked(this)" />
        <label for="memory"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Memory well</span></label>
        <div class="box-opened">
          <div class="heading">Memory well</div>
          <p class="desc">Lorem ipsum dolor sit amet, unum meis mea ne. Quando veniam ad usu. Ocurreret referrentur ut sed, ut tamquam accusata mel. Duo ei malis harum invidunt. Vide instructior vix in, ea mea brute latine interesset. Mel ei viderer explicari percipitur, his ex postulant voluptaria voluptatibus, eos te tantas elaboraret cotidieque.
            <br/><br/>
            Ex est blandit deterruisset definitionem. Phaedrum aliquando complectitur ea cum. Et mei quaestio elaboraret, te quo officiis persecuti. Id quodsi reprimique per, at elit argumentum consectetuer nec. Malorum tincidunt id ius, in sed prima affert tempor, mei invidunt persecuti ea.</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2307.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2308.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2310.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2312.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" id="organizer" onchange="eachClicked(this)" />
        <label for="organizer"><img alt="" class="icon" src="/assets/landing/LP_0057_Plus.png" /><span class="text">Organizer’s letter</span></label>
        <div class="box-opened">
          <div class="heading">Organizer’s letter</div>
          <p class="desc">Lorem ipsum dolor sit amet, unum meis mea ne. Quando veniam ad usu. Ocurreret referrentur ut sed, ut tamquam accusata mel. Duo ei malis harum invidunt. Vide instructior vix in, ea mea brute latine interesset. Mel ei viderer explicari percipitur, his ex postulant voluptaria voluptatibus, eos te tantas elaboraret cotidieque.
            <br/><br/>
            Ex est blandit deterruisset definitionem. Phaedrum aliquando complectitur ea cum. Et mei quaestio elaboraret, te quo officiis persecuti. Id quodsi reprimique per, at elit argumentum consectetuer nec. Malorum tincidunt id ius, in sed prima affert tempor, mei invidunt persecuti ea.</p>
          <div>
            <div class="columns items columns-4">
              <div class="item">
                <img alt="" src="/assets/products/IMG_2325.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2327.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2326.JPG"/>
              </div>
              <div class="item">
                <img alt="" src="/assets/products/IMG_2326.JPG"/>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section class="container special-occasions">
    <h2 class="container-heading">Perfect for Special Occasions</h2>
    <div class="columns items columns-4">
      <div class="item">
        <img alt="" src="/assets/landing/LP_0048_Graduations-icon.png" />
        <h3 class="heading">Graduations</h3>
      </div>
      <div class="item">
        <img alt="" src="/assets/landing/LP_0046_Birthdays-icon.png" />
        <h3 class="heading">Birthdays</h3>
      </div>
      <div class="item">
        <img alt="" src="/assets/landing/LP_0044_Weddings-icon.png" />
        <h3 class="heading">Weddings</h3>
      </div>
      <div class="item">
        <img alt="" src="/assets/landing/LP_0042_Just-Because-icon.png" />
        <h3 class="heading">Just because</h3>
      </div>
    </div>
  </section>
  <section class="container the-process">
    <h2 class="container-heading">The Process</h2>
    <div class="video-container" id="video-container">
      <video id="video">
        <source src="/assets/cogivi.mp4" type="video/mp4">
        Your browser does not support video.
      </video>
    </div>
  </section>
  <section class="container client-testimonials">
    <h2 class="container-heading">Clients’ Testimonials</h2>
    <!--<a class="arrow arrow-left"><img alt="" src="/assets/landing/LP_0020_Arrow.png" /></a>
            <a class="arrow arrow-right"><img alt="" src="/assets/landing/LP_0019_Arrow.png" /></a>-->
    <div class="testimonials" id="testimonials">
      <div class="item">
        <h4 class="client-name">Simon Jackson</h4>
        <p class="testimonial">Lorem ipsum dolor sit amet, duo te prompta dolores, mucius facete commune has in. Ridens deleniti qualisque vis in, te falli tollit usu. Volumus antiopam interesset his no, stet nusquam has ea. Ipsum temporibus te pri.</p>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div>
      <div class="item">
        <h4 class="client-name">Simon Jackson</h4>
        <p class="testimonial">Lorem ipsum dolor sit amet, duo te prompta dolores, mucius facete commune has in. Ridens deleniti qualisque vis in, te falli tollit usu. Volumus antiopam interesset his no, stet nusquam has ea. Ipsum temporibus te pri.</p>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div>
      <div class="item">
        <h4 class="client-name">Simon Jackson</h4>
        <p class="testimonial">Lorem ipsum dolor sit amet, duo te prompta dolores, mucius facete commune has in. Ridens deleniti qualisque vis in, te falli tollit usu. Volumus antiopam interesset his no, stet nusquam has ea. Ipsum temporibus te pri.</p>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div>
      <div class="item">
        <h4 class="client-name">Simon Jackson</h4>
        <p class="testimonial">Lorem ipsum dolor sit amet, duo te prompta dolores, mucius facete commune has in. Ridens deleniti qualisque vis in, te falli tollit usu. Volumus antiopam interesset his no, stet nusquam has ea. Ipsum temporibus te pri.</p>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div>
      <div class="item">
        <h4 class="client-name">Simon Jackson</h4>
        <p class="testimonial">Lorem ipsum dolor sit amet, duo te prompta dolores, mucius facete commune has in. Ridens deleniti qualisque vis in, te falli tollit usu. Volumus antiopam interesset his no, stet nusquam has ea. Ipsum temporibus te pri.</p>
        <ul class="stars">
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="full"></li>
          <li class="empty"></li>
        </ul>
      </div>
    </div>
  </section>
</main>
